@tailwind base;
@tailwind components;
@tailwind utilities;

.stroke-text {
    -webkit-text-stroke: 2px #CEB7FF;
}

body {
    --sb-track-color: #2b1852;
    --sb-thumb-color: #ceb7ff;
    --sb-size: 13px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 6px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
        var(--sb-track-color);
    }
}


/*/////////////// spinner ///////////////*/
.loader {
    width: 65px;
    aspect-ratio: 1;
    position: relative;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #CEB7FF;
    animation: l4 2.5s infinite;
}
.loader:after {
    animation-delay: -1.25s;
}
@keyframes l4 {
    0% {
        inset: 0 35px 35px 0;
    }
    12.5% {
        inset: 0 35px 0 0;
    }
    25% {
        inset: 35px 35px 0 0;
    }
    37.5% {
        inset: 35px 0 0 0;
    }
    50% {
        inset: 35px 0 0 35px;
    }
    62.5% {
        inset: 0 0 0 35px;
    }
    75% {
        inset: 0 0 35px 35px;
    }
    87.5% {
        inset: 0 0 35px 0;
    }
    100% {
        inset: 0 35px 35px 0;
    }
}